img {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    outline: 2px solid gray;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.home {
    font-size: medium;

}

/* Jollof Rice page */
#jollof-rice {
    width: 600px;
    height: auto;
    margin-top: 20px;
}

#jollof-title {
    color: black;
    padding: 10px;
    display: inline; 
    font-size: medium;   
}

h2 {
    background-color: red;
    color: white;
    border: 5px dotted black;
    padding: 7px;
}

.steps p {
    color: yellow;
    background-color: grey;
}

.steps h3{
    color: blue;
}

.ingredients {
    text-align: left;
}


/* Lasanga page */
#lasagna-title {
    background-color: brown;
    color: white;
}

.description p{
    background-color: aqua;
    color: black;
}

li {
    color: blueviolet;
}

p strong {
    color: green;
}

.landing-img {
    width: 600px;
    height: auto;
}

/* Home page */
.list{
    margin: 0 auto;
}
