/* Jollof Rice page */
#jollof-rice {
    width: 600px;
    height: auto;
}

#jollof-title {
    background-color: green;
    color: white;
}

h2 {
    background-color: red;
    color: white;
}

.steps p {
    color: orange;
    background-color: black;
}

.steps h3{
    color: blue;
}

/* Lasanga page */
#lasagna-title {
    background-color: brown;
    color: white;
}

.description p{
    background-color: aqua;
    color: black;
}

li {
    color: blueviolet;
}

p strong {
    color: green;
}